$caribbean: #00D59E;
$caribbean-dark: #00C491;
$metal: #00C491;
$dust: #F0F0F0;
$text-main: #333;
$eggplant: #531E60;
$danger: #dc3545;

$small-bp: 540px;
$medium-bp: 720px;
$large-bp: 960px;
$extra-large-bp: 1140px;

#cart{
  .cart-btn{
    border: {
      radius: 100%;
    }
    position: fixed;
    top: 10px;
    right: 20px;
    cursor: pointer;
    &-icon{
      padding: 5px 10px;
      background: $caribbean-dark;
      font-size: 30px;
      color: $eggplant;
      z-index: 1;
    }
    &-cont{
      padding: 0 8px;
      background: $danger;
      font-size: 16px;
      color: $dust;
      z-index: 2;
    }
  }

  .cont-prod{
    padding: 5px;
    border: {
      radius: 100%;
    }
    background: $danger;
    position: fixed;
    top: 10px;
    right: 20px;
    font-size: 30px;
    color: $eggplant;
    cursor: pointer;
    z-index: 1;
  }

  .overlay{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 0;
    background: $dust;
    opacity: 0.6;
    z-index: 100;
    &-open{
      width: 100%;
    }
  }

  .sidenav {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 0;
    background-color: white;
    overflow-x: hidden;
    z-index: 200;
    &-open{
      width: 400px;
      @media screen and (max-width: $small-bp) {
        width: 95%;
      }
    }
    .closebtn {
      position: fixed;
      top: 0;
      right: 15px;
      font-size: 36px;
      cursor: pointer;
      &:hover{
        border-bottom: 2px solid $dust;
      }
    }
    .price{
      font-size: 18px;
    }
  }
}